/* Fonts */
@import url("fonts/Roboto/font-roboto.css");
@import url("fonts/FontAwesome/font-awesome.css");
@import url("fonts/Waiting_for_the_Sunrise/waiting-for-the-sunrise.css");
/* Styling */
body {
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #222;
  padding: 0;
  margin: 0;
  background: url(images/bg.png) repeat;
}
button.fa {
  display: inline-block;
  background: transparent;
  border: 0 none;
}
header#header {
  background: #000;
  color: #fff;
  padding: 12px;
  form {
    position: relative;
  }
  #logo-icon {
    color: cyan;
  }
  #field-sourceURL {
    border-radius: 11px;
    border: 0 none;
    padding: 4px 10px;
    width: 85%;
    line-height: 0;
  }
  #button-start,
  #button-stop {
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 1px;
  }
  #button-start {
    color: green;
  }
  #button-stop {
    color: red;
  }
}
// h1 {
//   font-family: 'Sunrise', sans-serif;
//   font-size: 46px;
//   color: #333;
// }
