<!DOCTYPE html>
<html ng-app="app">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BrowserSyncApp</title>

    <link rel="stylesheet" href="./app.css">

  </head>
  <body>
    <div ng-controller="MainCrtl" ng-class="{ running: running }">

      <!-- Form  -->
      <header id="window-header">
        <form novalidate name="proxyForm" ng-submit="proxyForm.$valid && proxyStart()">
          <input id="field-sourceURL" required type="url" name="sourceURL" ng-model="sourceURL" placeholder="http://www.sapient.com"/>
        </form>
      </header>

      <!-- Settings  -->
      <div id="settings">

        <div class="settings-item">
          <strong>
            <i class="fa fa-chrome"></i>
            open in browser</strong>

          <label class="switch switch-left-right">
            <input class="switch-input" type="checkbox" name="settings.openWindow" ng-model="settings.openWindow"/>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>

        <div class="settings-item">
          <strong>
            <i class="fa fa-hand-pointer-o"></i>
            clicks</strong>

          <label class="switch switch-left-right">
            <input class="switch-input" type="checkbox" name="settings.clicks" ng-model="settings.clicks"/>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="settings-item">
          <strong>
            <i class="fa fa-i-cursor"></i>
            forms</strong>

          <label class="switch switch-left-right">
            <input class="switch-input" type="checkbox" name="settings.forms" ng-model="settings.forms"/>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="settings-item">
          <strong>
            <i class="fa fa-arrows"></i>
            scroll</strong>

          <label class="switch switch-left-right">
            <input class="switch-input" type="checkbox" name="settings.scroll" ng-model="settings.scroll"/>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>

      </div>

      <section id="proxy-running" class="overlay" ng-if="running">
        <div class="overlay-content">

          <div class="proxy-urls">

            <!-- Local Host -->
            <div ng-if="ip.local">
              <strong>
                <i class="fa fa-desktop"></i>
                Local</strong>
              <a ng-href="{{ip.local}}" target="_blank">
                {{ip.local}}
              </a>
            </div>

            <!-- External IPs  -->
            <div ng-if="ip.externals">
              <strong>
                <i class="fa fa-wifi"></i>
                External</strong>
              <ul>
                <li ng-repeat="externalIP in ip.externals">
                  <a ng-href="{{$parent.ip.protocol}}://{{externalIP}}:{{$parent.ip.port}}" target="_blank">
                    {{$parent.ip.protocol}}://{{externalIP}}:{{$parent.ip.port}}
                  </a>
                </li>
              </ul>
            </div>

            <!-- Proxy URL -->
            <div ng-if="ip.proxy">
              <strong>
                <i class="fa fa-bullseye"></i>
                Proxying</strong>
              <a ng-href="{{ip.proxy}}" target="_blank">
                {{ip.proxy}}
              </a>
            </div>
          </div>

          <footer>
            <button id="button-stop" type="button" name="proxy-stop" ng-disabled="!running" ng-click="proxyStop()">
              Stop
            </button>
          </footer>

        </div>
      </section>

      <footer>
        <button id="button-start" type="button" ng-click="proxyStart()" ng-disabled="proxyForm.$invalid">
          Start <i ng-if="loading" class="loading fa fa-spinner"></i>
        </button>

      </footer>

    </div>
    <!-- build:remove -->
    <script>
      require('electron-connect').client.create()
    </script>
    <!-- endbuild -->

    <script src="./app.js"></script>
  </body>
</html>
