/* Fonts */
@import url("fonts/Roboto/font-roboto.css");
@import url("fonts/FontAwesome/font-awesome.css");
@import url("fonts/Waiting_for_the_Sunrise/waiting-for-the-sunrise.css");


/* Styling */

body {
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #222;
  padding: 0;
  margin: 0;
  background: url("images/bg.png") repeat;
}


header.titlebar {
  -webkit-app-region: drag;
  display: block;
  background: #222;
  height: 28px;
  color: #fff;
  text-align: center;
  text-transform: lowercase;
  font-size: 12px;
  padding: 7px 5px;
  box-sizing: border-box;
}

header.titlebar .fa,
header.titlebar .fa {
  float: left;
  font-size: 16px;
  margin: 0 4px;
}

h1 {
  font-family: 'Sunrise', sans-serif;
  font-size: 46px;
  color: #333;
}
